# Ignore heavy or unnecessary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb
*.csv
*.xlsx
*.json
*.log
*.gz
*.zip
*.tar
*.h5
*.pkl
*.db
*.sqlite
checkpoints/
datasets/
models/
notebooks/
tests/
*.md
*.pdf
*.jpg
*.jpeg
*.png
*.mp4
.vscode/
.idea/
.venv/
.env
.git
.gitignore
